*{
    margin:0;

}
a{
    text-decoration: none;
}


/* CONTENT BOX */
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    /* height:400px; */
}

/* heading */
#topic{
    width: 750px;
    margin: 90px 0 90px 0;
}

h3{
    letter-spacing: 2px;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    color: #0A083Ab3;
}
h2{
    text-align: center;
    font-size: 70px;
    font-family: sans-serif;
    color: #0A083B;
}

/* CONTACT INFO */
.contact-info{
    width: 30%;
    display: grid;
    justify-content: center;
    margin:20px 100px;
}
.search-text{
    color: #0A083B;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: sans-serif;
}
.input-box{
    padding:5px;
    height: 50px;
    width: 500px;
    border: 2px solid #57586E44;
    border-radius: 10px;
    font-size: 1rem;
    font-family: sans-serif;
}


/* content text */
.text-area{
    margin: 90px 0 90px 0;
    width:750px;
    color: #0A083B;
    font-weight: 200;
    font-family:sans-serif;
    text-align:center;
    font-size: 19px;
    line-height: 30px;
}

/* Education */
#edu-title{
    margin: 90px 0 -20px 0;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #0A083B;
}