*{
    margin:0;
}
a{
    text-decoration: none;
}
/* Landing Heading */
#topic{
    height: 50dvh;
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 7%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 1.14em;
}
#topic h3{
    letter-spacing: 2px;
    text-align: center;
    font-size: 16px;
    font-family: 'Inter',sans-serif;
    color: #0A083A;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    line-height: 100%;
}
#topic h1{
    height: fit-content;
    line-height: 100%;
    text-align: center;
    font-size: 70px;
    font-family: Sora;
    color: #0A083B;
    overflow: hidden;
}
/* BOX COURSE */
/* .flex{
    margin: 190px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
} */
/* content text */
/* .text-area{
    margin: 90px 0 90px 0;
    width:750px;
    color: #0A083B;
    font-weight: 200;
    font-family:sans-serif;
    text-align:center;
    font-size: 19px;
    line-height: 30px;
} */
/* Education */
/* .edu-title{
    margin: 90px 0 -20px 0;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: #0A083B;
} */

/* FOOTER BAR */
/* footer{
    margin-top: 90px;
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #1E1E2C;
    color: white;
}
#foot-area{
    margin-top: 50px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: sans-serif;
}

#social-logo{
    height: 50%;
    width: 300px;
    display: flex;
    justify-content: space-between;

}
#social-logo i{
    margin-top: 80px;
    padding: 5px;
    color: white;
    font-size: 40px;
}
#social-logo i:hover{
    transition: ease-in-out 160ms;
    transform: scale(1.3);
}

#copy-rights{
    margin-top: 80px;
    height: 100px;
    width: 100%;
    justify-content: start;
} */