* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 5518px;
  background: url("../images/v1_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 100%;
  height: 81px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 100%;
  height: 79px;
  background: url("../images/v1_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 375px;
  overflow: hidden;
}
.v1_5 {
  width: 331px;
  height: 26px;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 30px;
  overflow: hidden;
}
.v1_6 {
  width: 172px;
  height: 26px;
  background: url("../images/v1_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_2 {
  width: 100px;
  height: 100px;
  background: url("../images/v14_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 96px;
  overflow: hidden;
}
.v1_7 {
  width: 383px;
  height: 29px;
  background: url("../images/v1_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 392px;
  overflow: hidden;
}
.v1_8 {
  width: 64px;
  height: 29px;
  background: url("../images/v1_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  overflow: hidden;
}
.v1_9 {
  width: 54px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 4px;
  left: 5px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_10 {
  width: 56px;
  height: 29px;
  background: url("../images/v1_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 174px;
  overflow: hidden;
}
.v1_11 {
  width: 8px;
  height: 6px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 56px;
  overflow: hidden;
}
.v1_12 {
  width: 8px;
  height: 6px;
  background: url("../images/v1_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_13 {
  width: 8px;
  height: 6px;
  background: url("../images/v1_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_14 {
  width: 8px;
  height: 6px;
  background: url("../images/v1_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_15 {
  width: 8px;
  height: 4px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_16 {
  width: 8px;
  height: 6px;
  background: rgba(87,88,110,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_17 {
  width: 46px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 4px;
  left: 5px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_18 {
  width: 43px;
  height: 29px;
  background: url("../images/v1_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 260px;
  overflow: hidden;
}
.v1_19 {
  width: 33px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 4px;
  left: 5px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_20 {
  width: 174px;
  height: 45px;
  background: rgba(23,92,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 965px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_21 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 29px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_22 {
  width: 100%;
  height: 4918px;
  background: url("../images/v1_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 0px;
  overflow: hidden;
}
.v1_23 {
  width: 100%;
  height: 466px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_24 {
  width: 228px;
  color: rgba(10,8,58,0.699999988079071);
  position: absolute;
  top: 85px;
  left: 405px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_25 {
  width: 449px;
  color: url("../images/v1_25.png");
  position: absolute;
  top: 120px;
  left: 405px;
  font-family: Sora;
  font-weight: Bold;
  font-size: 70px;
  opacity: 1;
  text-align: left;
}
.v1_26 {
  width: 193px;
  height: 52px;
  background: url("../images/v1_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 405px;
  border-top-left-radius: 53px;
  border-top-right-radius: 53px;
  border-bottom-left-radius: 53px;
  border-bottom-right-radius: 53px;
  overflow: hidden;
}
.v1_27 {
  width: 134px;
  color: rgba(25,80,209,1);
  position: absolute;
  top: 15px;
  left: 30px;
  font-family: Sora;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v9_2 {
  width: 100px;
  height: 100px;
  background: url("../images/v9_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 1019px;
  overflow: hidden;
}
.v1_28 {
  width: 100%;
  height: 654px;
  background: rgba(246,248,249,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 466px;
  left: 0px;
  overflow: hidden;
}
.v1_29 {
  width: 255px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 405px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  overflow: hidden;
}
.v1_30 {
  width: 137px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 79px;
  left: 59px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_31 {
  width: 255px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 690px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  overflow: hidden;
}
.v1_32 {
  width: 175px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 79px;
  left: 41px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_33 {
  width: 255px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 975px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  overflow: hidden;
}
.v1_34 {
  width: 149px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 79px;
  left: 53px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_35 {
  width: 255px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 1260px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07999999821186066);
  overflow: hidden;
}
.v1_36 {
  width: 128px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 79px;
  left: 63px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_37 {
  width: 677px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 421px;
  left: 622px;
  font-family: Sora;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_38 {
  width: 643px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 535px;
  left: 639px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_39 {
  width: 100%;
  height: 202px;
  background: rgba(246,248,249,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 1120px;
  left: 0px;
  overflow: hidden;
}
.v1_40 {
  width: 100%;
  height: 317px;
  background: rgba(246,248,249,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 1322px;
  left: 0px;
  overflow: hidden;
}
.v1_41 {
  width: 1000px;
  height: 202px;
  background: url("../images/v1_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 460px;
  overflow: hidden;
}
.v1_42 {
  width: 333px;
  height: 126px;
  background: url("../images/v1_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_43 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 73px;
  font-family: Sora;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_44 {
  width: 239px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 46px;
  left: 48px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_45 {
  width: 333px;
  height: 126px;
  background: url("../images/v1_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 334px;
  overflow: hidden;
}
.v1_46 {
  width: 201px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 67px;
  font-family: Sora;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_47 {
  width: 244px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 46px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_48 {
  width: 333px;
  height: 126px;
  background: url("../images/v1_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 666px;
  overflow: hidden;
}
.v1_49 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 78px;
  font-family: Sora;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_50 {
  width: 231px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 46px;
  left: 50px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_51 {
  width: 100%;
  height: 1270px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1639px;
  left: 0px;
  overflow: hidden;
}
.v1_52 {
  width: 390px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 126px;
  left: 765px;
  font-family: Sora;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_53 {
  width: 643px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 240px;
  left: 639px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_54 {
  width: 100%;
  height: 568px;
  background: url("../images/v1_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 439px;
  left: 393px;
  overflow: hidden;
}
.v1_55 {
  width: 258px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 851px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_56 {
  width: 258px;
  height: 40px;
  background: url("../images/v1_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_57 {
  width: 12px;
  height: 12px;
  background: url("../images/v1_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 233px;
  overflow: hidden;
}
.v1_58 {
  width: 9px;
  height: 4px;
  background: url("../images/v1_58.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
  border: 1.5px solid rgba(52,58,64,1);
}
.v1_59 {
  width: 204px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 10px;
  left: 17px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_60 {
  width: 340px;
  height: 501px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 24px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_61 {
  width: 338px;
  height: 190px;
  background: url("../images/v1_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.v1_62 {
  width: 32px;
  height: 32px;
  background: rgba(62,100,222,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 296px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v1_63 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 8px;
  overflow: hidden;
}
.v1_64 {
  width: 11px;
  height: 14px;
  background: rgba(62,100,222,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_65 {
  width: 338px;
  height: 239px;
  background: url("../images/v1_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 1px;
  overflow: hidden;
}
.v1_66 {
  width: 298px;
  height: 27px;
  background: url("../images/v1_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_67 {
  width: 110px;
  height: 27px;
  background: url("../images/v1_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v1_68 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
  overflow: hidden;
}
.v1_69 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_70 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 25px;
  overflow: hidden;
}
.v1_71 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_72 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 47px;
  overflow: hidden;
}
.v1_73 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_74 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 69px;
  overflow: hidden;
}
.v1_75 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_76 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 91px;
  overflow: hidden;
}
.v1_77 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_78 {
  width: 34px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 116px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_79 {
  width: 21px;
  color: rgba(117,124,142,1);
  position: absolute;
  top: 3px;
  left: 159px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_80 {
  width: 298px;
  height: 32px;
  background: url("../images/v1_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 20px;
  overflow: hidden;
}
.v1_81 {
  width: 241px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Sora;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_82 {
  width: 298px;
  height: 23px;
  background: url("../images/v1_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 20px;
  overflow: hidden;
}
.v1_83 {
  width: 30px;
  height: 23px;
  background: url("../images/v1_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_84 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v1_85 {
  width: 9px;
  height: 12px;
  background: rgba(117,124,142,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_86 {
  width: 9px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 22px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_87 {
  width: 48px;
  height: 23px;
  background: url("../images/v1_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 47px;
  overflow: hidden;
}
.v1_88 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v1_89 {
  width: 14px;
  height: 14px;
  background: rgba(117,124,142,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_90 {
  width: 27px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 22px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_91 {
  width: 298px;
  height: 44px;
  background: url("../images/v1_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 20px;
  overflow: hidden;
}
.v1_92 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0px 0px 0px rgba(0.8039215803146362, 0.8117647171020508, 0.8352941274642944, 1);
  overflow: hidden;
}
.v1_93 {
  width: 36px;
  height: 36px;
  background: rgba(62,100,222,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_94 {
  width: 9px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_95 {
  width: 246px;
  height: 44px;
  background: url("../images/v1_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 52px;
  overflow: hidden;
}
.v1_96 {
  width: 234px;
  color: url("../images/v1_96.png");
  position: absolute;
  top: 2px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_97 {
  width: 338px;
  height: 69px;
  background: url("../images/v1_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_98 {
  width: 59px;
  color: rgba(117,124,142,1);
  position: absolute;
  top: 25px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_99 {
  width: 65px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 24px;
  left: 84px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_100 {
  width: 135px;
  height: 36px;
  background: url("../images/v1_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 184px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_101 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 13px;
  overflow: hidden;
}
.v1_102 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v1_103 {
  width: 15px;
  height: 14px;
  background: rgba(62,100,222,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_104 {
  width: 85px;
  color: rgba(62,100,222,1);
  position: absolute;
  top: 8px;
  left: 37px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_105 {
  width: 340px;
  height: 501px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 397px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_106 {
  width: 338px;
  height: 190px;
  background: url("../images/v1_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.v1_107 {
  width: 32px;
  height: 32px;
  background: rgba(62,100,222,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 295px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v1_108 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 8px;
  overflow: hidden;
}
.v1_109 {
  width: 11px;
  height: 14px;
  background: rgba(62,100,222,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_110 {
  width: 338px;
  height: 239px;
  background: url("../images/v1_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 1px;
  overflow: hidden;
}
.v1_111 {
  width: 298px;
  height: 27px;
  background: url("../images/v1_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_112 {
  width: 110px;
  height: 27px;
  background: url("../images/v1_112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v1_113 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
  overflow: hidden;
}
.v1_114 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_115 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 25px;
  overflow: hidden;
}
.v1_116 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_117 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 47px;
  overflow: hidden;
}
.v1_118 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_119 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 69px;
  overflow: hidden;
}
.v1_120 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_121 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 91px;
  overflow: hidden;
}
.v1_122 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_123 {
  width: 34px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 116px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_124 {
  width: 21px;
  color: rgba(117,124,142,1);
  position: absolute;
  top: 3px;
  left: 158px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_125 {
  width: 298px;
  height: 64px;
  background: url("../images/v1_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 20px;
  overflow: hidden;
}
.v1_126 {
  width: 268px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Sora;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_127 {
  width: 298px;
  height: 23px;
  background: url("../images/v1_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 20px;
  overflow: hidden;
}
.v1_128 {
  width: 30px;
  height: 23px;
  background: url("../images/v1_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_129 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v1_130 {
  width: 9px;
  height: 12px;
  background: rgba(117,124,142,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_131 {
  width: 9px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 22px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_132 {
  width: 81px;
  height: 23px;
  background: url("../images/v1_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 47px;
  overflow: hidden;
}
.v1_133 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v1_134 {
  width: 14px;
  height: 14px;
  background: rgba(117,124,142,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_135 {
  width: 60px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 22px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_136 {
  width: 298px;
  height: 44px;
  background: url("../images/v1_136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 20px;
  overflow: hidden;
}
.v1_137 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0px 0px 0px rgba(0.8039215803146362, 0.8117647171020508, 0.8352941274642944, 1);
  overflow: hidden;
}
.v1_138 {
  width: 36px;
  height: 36px;
  background: rgba(62,100,222,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_139 {
  width: 9px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_140 {
  width: 246px;
  height: 44px;
  background: url("../images/v1_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 52px;
  overflow: hidden;
}
.v1_141 {
  width: 203px;
  color: url("../images/v1_141.png");
  position: absolute;
  top: 2px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_142 {
  width: 338px;
  height: 69px;
  background: url("../images/v1_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_143 {
  width: 67px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 24px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_144 {
  width: 135px;
  height: 36px;
  background: url("../images/v1_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 183px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_145 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 13px;
  overflow: hidden;
}
.v1_146 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v1_147 {
  width: 15px;
  height: 14px;
  background: rgba(62,100,222,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_148 {
  width: 85px;
  color: rgba(62,100,222,1);
  position: absolute;
  top: 8px;
  left: 37px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_149 {
  width: 340px;
  height: 501px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 769px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_150 {
  width: 338px;
  height: 190px;
  background: url("../images/v1_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.v1_151 {
  width: 32px;
  height: 32px;
  background: rgba(62,100,222,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 295px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v1_152 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 8px;
  overflow: hidden;
}
.v1_153 {
  width: 11px;
  height: 14px;
  background: rgba(62,100,222,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_154 {
  width: 338px;
  height: 239px;
  background: url("../images/v1_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 1px;
  overflow: hidden;
}
.v1_155 {
  width: 298px;
  height: 27px;
  background: url("../images/v1_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_156 {
  width: 110px;
  height: 27px;
  background: url("../images/v1_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v1_157 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 3px;
  overflow: hidden;
}
.v1_158 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_159 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 25px;
  overflow: hidden;
}
.v1_160 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_161 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 47px;
  overflow: hidden;
}
.v1_162 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_163 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 69px;
  overflow: hidden;
}
.v1_164 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_165 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 91px;
  overflow: hidden;
}
.v1_166 {
  width: 15px;
  height: 14px;
  background: rgba(237,151,0,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_167 {
  width: 35px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 116px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_168 {
  width: 21px;
  color: rgba(117,124,142,1);
  position: absolute;
  top: 3px;
  left: 158px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_169 {
  width: 298px;
  height: 64px;
  background: url("../images/v1_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 20px;
  overflow: hidden;
}
.v1_170 {
  width: 267px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Sora;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_171 {
  width: 298px;
  height: 23px;
  background: url("../images/v1_171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 20px;
  overflow: hidden;
}
.v1_172 {
  width: 30px;
  height: 23px;
  background: url("../images/v1_172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_173 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v1_174 {
  width: 9px;
  height: 12px;
  background: rgba(117,124,142,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_175 {
  width: 9px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 21px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_176 {
  width: 81px;
  height: 23px;
  background: url("../images/v1_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 46px;
  overflow: hidden;
}
.v1_177 {
  width: 14px;
  height: 14px;
  background: url("../images/v1_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v1_178 {
  width: 14px;
  height: 14px;
  background: rgba(117,124,142,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_179 {
  width: 59px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 3px;
  left: 21px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_180 {
  width: 298px;
  height: 36px;
  background: url("../images/v1_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 20px;
  overflow: hidden;
}
.v1_181 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0px 0px 0px rgba(0.8039215803146362, 0.8117647171020508, 0.8352941274642944, 1);
  overflow: hidden;
}
.v1_182 {
  width: 36px;
  height: 36px;
  background: rgba(62,100,222,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_183 {
  width: 9px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 8px;
  left: 13px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_184 {
  width: 170px;
  height: 22px;
  background: url("../images/v1_184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 52px;
  overflow: hidden;
}
.v1_185 {
  width: 170px;
  color: url("../images/v1_185.png");
  position: absolute;
  top: 2px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_186 {
  width: 338px;
  height: 69px;
  background: url("../images/v1_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v1_187 {
  width: 65px;
  color: rgba(33,35,39,1);
  position: absolute;
  top: 24px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_188 {
  width: 135px;
  height: 36px;
  background: url("../images/v1_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 183px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v1_189 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 13px;
  overflow: hidden;
}
.v1_190 {
  width: 16px;
  height: 16px;
  background: url("../images/v1_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v1_191 {
  width: 15px;
  height: 14px;
  background: rgba(62,100,222,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v1_192 {
  width: 85px;
  color: rgba(62,100,222,1);
  position: absolute;
  top: 8px;
  left: 37px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_193 {
  width: 242px;
  height: 52px;
  background: url("../images/v1_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1112px;
  left: 839px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  overflow: hidden;
}
.v1_194 {
  width: 128px;
  color: rgba(23,92,255,1);
  position: absolute;
  top: 16px;
  left: 58px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_195 {
  width: 100%;
  height: 898px;
  background: rgba(247,249,250,1);
  opacity: 1;
  position: absolute;
  top: 2910px;
  left: 0px;
  overflow: hidden;
}
.v1_196 {
  width: 383px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 119px;
  left: 769px;
  font-family: Sora;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_197 {
  width: 643px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 233px;
  left: 639px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_198 {
  width: 776px;
  height: 411px;
  background: url("../images/v1_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 475px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1_199 {
  width: 100px;
  height: 100px;
  background: url("../images/v1_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 338px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_200 {
  width: 26px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 40px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_201 {
  width: 100%;
  height: 1109px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3808px;
  left: 0px;
  overflow: hidden;
}
.v1_202 {
  width: 357px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 128px;
  left: 782px;
  font-family: Sora;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_203 {
  width: 195px;
  color: rgba(87,88,110,1);
  position: absolute;
  top: 196px;
  left: 863px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_204 {
  width: 349px;
  height: 356px;
  background: rgba(240,245,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 405px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_205 {
  width: 194px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 74px;
  left: 46px;
  font-family: Sora;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_206 {
  width: 239px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 125px;
  left: 46px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_207 {
  width: 349px;
  height: 356px;
  background: rgba(240,245,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 785px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_208 {
  width: 194px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 74px;
  left: 46px;
  font-family: Sora;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_209 {
  width: 225px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 125px;
  left: 46px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_210 {
  width: 350px;
  height: 356px;
  background: rgba(240,245,255,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 1164px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1_211 {
  width: 194px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 74px;
  left: 46px;
  font-family: Sora;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_212 {
  width: 211px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 125px;
  left: 46px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_213 {
  width: 100%;
  height: 246px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 793px;
  left: 405px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_214 {
  width: 422px;
  color: rgba(10,8,59,1);
  position: absolute;
  top: 79px;
  left: 60px;
  font-family: Sora;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v1_215 {
  width: 463px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 586px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v1_216 {
  width: 417px;
  height: 18px;
  background: url("../images/v1_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 23px;
  overflow: hidden;
}
.v1_217 {
  width: 173px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_218 {
  width: 151px;
  height: 42px;
  background: rgba(25,80,209,1);
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 890px;
  border-top-left-radius: 108px;
  border-top-right-radius: 108px;
  border-bottom-left-radius: 108px;
  border-bottom-right-radius: 108px;
  overflow: hidden;
}
.v1_219 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 37px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v1_220 {
  width: 100%;
  height: 411px;
  background: rgba(30,30,44,1);
  opacity: 1;
  position: absolute;
  top: 4999px;
  left: 0px;
  overflow: hidden;
}
.v1_221 {
  width: 100%;
  height: 311px;
  background: url("../images/v1_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 390px;
  overflow: hidden;
}
.v1_222 {
  width: 565px;
  height: 240px;
  background: url("../images/v1_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v1_223 {
  width: 167px;
  height: 34px;
  background: url("../images/v1_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v1_224 {
  width: 330px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 57px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_225 {
  width: 209px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 154px;
  left: 25px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_226 {
  width: 99px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 590px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_227 {
  width: 45px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 78px;
  left: 590px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_228 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 590px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_229 {
  width: 33px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 148px;
  left: 590px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_230 {
  width: 52px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 184px;
  left: 590px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_231 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 780px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_232 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 78px;
  left: 780px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_233 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 780px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_234 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 148px;
  left: 780px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_235 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 184px;
  left: 780px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_236 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 970px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_237 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 78px;
  left: 970px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_238 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 970px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_239 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 148px;
  left: 970px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_240 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 184px;
  left: 970px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_241 {
  width: 100%;
  height: 107px;
  background: rgba(30,30,44,1);
  opacity: 1;
  position: absolute;
  top: 5411px;
  left: 0px;
  overflow: hidden;
}
.v1_242 {
  width: 161px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 43px;
  left: 1364px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
